.index__container{
    text-align: center;
    position: relative;
    height: 100%;
}

.green-check {
    color: green;
  }

.red-cross {
color: red;
}

.table__indexes{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}



#index{
    border: 1px solid transparent;
    border-radius: 1rem;
    padding:2rem;
    text-align:center;
    transition: var(--transition);

}

.trade__decision{
    margin-top: 2rem;

}

.trade__decision > h2{
    color: var(--color-white);

}

.table__index{
    background:var(--color-primary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding:2rem;
    color: var(--color-bg);


}

#index > h2{
    color: var(--color-white);
    margin-bottom: 3rem;
}
